.appBar {
    background-color: #F8DFC2;
    display: flex;
    align-items: center;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.card {
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}