.container {
    display: flex;
    gap: 24px;
    width: 100%;
    flex-wrap: wrap;
    background-color: beige;
}

.card {
    border: 1px solid black;
    padding: 12px;
    width: 100%;
}

.cardWidth30 {
    width: 30%;
    background-color: rgba(255, 0, 0, .1);
}

.cardWidth60 {
    width: 60%;
    background-color: rgba(0, 255, 0, .1);
}

.cardWidth100 {
    width: 100%;
    background-color: rgba(0, 0, 255, .1);
}